.blogs{
    display: grid;
    grid-auto-columns: 100%;
    overflow-x: hidden;
    grid-auto-flow: column;
    //grid-gap: 0.25rem;
    height: 100%;
    position: relative;
    
    .blog{
        //height: 90vh;
        background-size: cover !important;
        background-position: left !important;
        height: 100%;
        .container{
            display: flex;
            height: 100%;
            align-items: center;
            .info{
                padding: 5vh 3vh;
                height: 50vh;
                width: 22vw;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                //align-items: center;
                background: black;
                h4{
                    color: #FFA000;
                }

                h1{
                    font-size: 30pt;
                    width: 60%;
                }
            }
        }
    }
}