.products{
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 0.5rem;

    .product{
        img{
            width: 100%;
        }

        h1{
            font-weight: bold;
            text-align: center;
        }
    }
}